@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color-scheme: light dark;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
section{
    height: 100dvh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}