@use "sass:map";
@import '../../scss/base/variables';

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    z-index: 9999;
    .brand {
        >*{
            text-decoration: none;
            color: #fff;
            text-transform: capitalize;
            font-size: 1.5rem;
            font-weight: 800;
            &:hover {
                color: #777;
            }
        }
    }
}

@media (max-width: map.get($break-pontis, "xs")) {
    .navbar { 
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 5px 20px;
        backdrop-filter: blur(25px);
        .brand {
            display: flex;
            align-items: center;
            a {
                font-size: 1.25rem;
                &:after {
                    content: 'Ale Luna';
              
                    
                }
                span {
                    display: none;
                    
                }
            }
      
            
        }
    }
}