@import '../../../scss/animation/animation';

.hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: #3b043e;
background: linear-gradient(0deg, rgba(59,4,62,1) 0%, rgba(0,0,0,1) 30%);
    height: 100dvh;
    h1{
        color: #43efff;
        font-size: 5rem;
        font-weight: 800;
        padding-top: 250px;
        text-transform: capitalize;
        z-index: 3;
    }

    p{  
        color: white;
        font-size: 1.5rem;
        z-index: 3;
    }
}

.arrow{
    z-index: 3;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffff;
    font-size: 1.8rem;
    animation: zoomInOut 3s infinite;

}