.App {
    z-index: 999;
     button {
      padding: 12px 20px;
      font-family: sofia-pro, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #fff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      width: 160px;
      z-index: 9;
    } 
    
    ul {
      padding: 60px 20px 20px;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 250px;
      border-radius: 8px;
      overflow: hidden;
      opacity: 0;
      z-index: -1;
    }
  
    li {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      font-weight: 400;
      font-style: normal;
      font-size: 1.25rem;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #43efff;
        text-shadow: 0px 0px 10px #b50cbe; // Sombra de texto para un efecto glow
        transform: scale(1.05); // Ligera escala para dar un efecto de botón interactivo
      }
    }
  }
  
  .menu {
    position: absolute;
    top: 20px; /* Ajusta según tu diseño */
    right: 90px; /* Ajusta para alinear a la derecha */
    background-color: #fff; /* Ajusta el color de fondo según tu diseño */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Opcional: sombra para mejorar el contraste */
    list-style-type: none;
    padding: 10px;
    z-index: 100;
    border-radius: 8px;
    margin-right: 20px; /* Nuevo estilo para mover más a la derecha */
  }
  

  .connect{
    text-align: end;
    p{
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
    a{
      text-decoration: none;
    }
    .icons {
      a{
        text-decoration: none;
        color:  #6f1c73;
      }
      display: flex;
      gap: 5px;
      justify-content: end;
    }
  }