@use "sass:map";
@import '../../scss/base/variables';

.App {
    z-index: 999;
     button {
      padding: 12px 20px;
      font-family: sofia-pro, sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      color: #fff;
      background-color: transparent;
      border: none;
      cursor: pointer;
      border-radius: 8px;
      width: 160px;
      z-index: 9;
    } 
    
    ul {
      padding: 60px 20px 20px;
      background-color: #202020;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 250px;
      border-radius: 8px;
      overflow: hidden;
      opacity: 0;
      z-index: -1;
    }
  
    li {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      font-weight: 400;
      font-style: normal;
      font-size: 1.25rem;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #fff;
      cursor: pointer;

      &:hover {
        color: #43efff;
        text-shadow: 0px 0px 10px #b50cbe; // Sombra de texto para un efecto glow
        transform: scale(1.05); // Ligera escala para dar un efecto de botón interactivo
      }
    }
  }
  
  .menu {
    position: absolute;
    top: 20px;
    right: 90px; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); 
  }
  

  .connect{
    text-align: end;
    p{
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: 2px;
    }
    a{
      text-decoration: none;
    }
    .icons {
      a{
        text-decoration: none;
        color:  #6f1c73;
      }
      display: flex;
      gap: 5px;
      justify-content: end;
    }
  }

  @media (max-width: map.get($break-pontis, "xs")) {
    .App {
      button {
        padding: 0;
        margin: 0;
        width: 50px;
      }
      ul{
        margin: 0;
        width: 100%;
        border-radius: 0;
        li{
          padding-left: 40px;
          height: 100%;
       
        }
      }
      img {
        margin-right: 20px;
        margin-top: 250px;
      }
    }
    .menu {
      width: 100%;
      top: -710px;
      padding: 0;
      margin: 0;
      right: 0;
      
   
    }

    .connect {

      padding: 0 20px 50px 20px;
    }

 
  }